version: '3.9'

services:
  api:
    image: gsor-backend:latest
    build:
      context: .
    env_file:
      - .env.production
    ports:
      - "3030:3000"
    restart: unless-stopped
    volumes:
      - gsor-logs:/app/logs
    environment:
      NODE_ENV: production
      NODE_OPTIONS: --experimental-specifier-resolution=node
    command: ["node", "dist/main.js"]
    init: true
    networks:
      - core-net

networks:
  core-net:
    external: true

volumes:
  gsor-logs:
